@font-face {
    font-family: Fegan;
    src: url(../font/fegan/Fegan.ttf);
}

#home {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#home > h1{
    font-size: 4em;
    font-family: Fegan;
}

#home > p:first-of-type{
    font-size: 2em;
    max-width: 20em;
}

#home > p:last-child{
    font-family: sans-serif;
}